<title>{{ eventname }}</title>
<h1 id="eventname">{{ eventname }}</h1>
<br />
{{ date }}
<br />
<br />
<h2 id="citystate">{{ citystate }}</h2>
<h3 id="tags">
  <i>{{ tags }}</i>
</h3>
<h3 id="host">
  Hosted by
  <a href="/user/{{ host.userId }}">{{ host.username }}</a>
</h3>
