<img class="user-detail-image" src={{imageUrl}}>
<div class="user-detail-info">
{{user.bio}}
<h1 id="username">{{username}}</h1>
<h2 id="citystate">{{citystate}}</h2>
<h3 id="tags"><i>{{tags}}</i></h3>
<a href=//{{{url}}}/>{{url}}</a>
</div>
