<img class="user-detail-image" src={{imageUrl}}>
<div class="user-detail-info">

{{user.bio}}
<div class="user-detail-events-header"><h2 id="username">{{username}}</h2></div>
<h4 id="citystate">{{citystate}}</h4>
<p id="tags"><i>{{tags}}</i></p>
<a href=//{{{url}}}/>{{url}}</a>
</div>
{{#if this.events}}
<div class="user-detail-events">
    <div class="user-detail-events-header"><h2>Events</h2></div>
  {{#each events}}
      <div class="list-item">
        <a href=http://localhost:3000/event/{{@key}}><b>{{eventname}}</b></a>
        <p>&#127760;  {{citystate}}</p>
        <p>	&#128197; {{date}}</p>
      </div>
  {{/each}}
{{/if}}
</div>
